

<div class="col-sm-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse1">

                <span class="glyphicon glyphicon-user"></span> Informações Pessoais

            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in" style="position:relative">
            <div class="panel-body" style="position:relative">

                <div style="position:absolute; top:30px; right:0;">
                    Teste 1
                </div>

            </div>

            

            <div class="container">
                Teste 2
            </div>
        </div>
    </div>
</div>