

<div class="col-sm-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse2">

               <span class="glyphicon glyphicon-pencil"></span> Informações Acadêmicas

            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="container" style="position:relative">
                    Teste Div1
                </div>
                <div class="container" style="position:relative">
                    Teste Div2
                </div>
            </div>
        </div>
    </div>
</div>